        body {
            font-family: Arial, sans-serif;
            background: radial-gradient(circle, #2450af, #351e5f);
            padding: 20px;
        }


        .title {
            background: linear-gradient(to right, #931aac, #2b28cf);
            text-align: center;
            margin-bottom: 20px;
            border: 2px solid #136e13;
            padding: 5px;
            border-radius: 5px;
            color: #fff;
        }

        .mambiente {
            color: #ffffff;
            font-weight: bold;
        }

        .textlove {
            text-align: center;
            margin-bottom: 20px;
            border: 2px solid #211994;
            padding: 10px;
            border-radius: 5px;
            background-color: #f7cee6;
        }